footer {
    text-align: center;
    background-color: #000000; /* Change to your desired background color */
    padding: 20px 0; /* Adjust padding as needed */
    width: 1320px; /* Set the width */
  margin: 0 auto; /* Center the footer horizontally */
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Tiro Devanagari Marathi";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height:5px; 


  }
  
  .footer-content p,
.footer-content a {
  display: inline; /* Set both paragraph and anchor tag to display inline */
  color: white; /* Ensure text color matches */
}

.icon.footer {
  display: flex;
  justify-content: center;
  margin-top: 5px; /* Add margin-top for spacing */
}

.icon.footer i {
  margin: 0 5px; /* Adjust spacing between icons */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
}
